<?xml version="1.0" encoding="UTF-8"?><widget id="A6073247421066" security="false" version="1.1.1">
    <name>ASIASAFE</name>
    <content src="index.html"/>
    <preference name="appCertificateVerify" value="false" />
    <preference name="statusBarAppearance" value="false"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>
    <preference name="appBackground" value="rgba(0,0,0,0)" />
    <preference name="windowBackground" value="rgba(0,0,0,0)" />
	<preference name="autoLaunch" value="false"/>
    <permission name="call" value="true"/>
    <permission name="location" value="true"/>
<preference name="debug" value="false"/></widget>